body {
  background: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.021em;
  font-display: swap;
  overflow: hidden;
}

a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

a:visited {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

a:hover {
    color: lightblue;
}

a.disabled, a.disabled:visited, a.disabled:hover {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.5);
}

.next-button {
   font-size: medium;
}

.site-wrapper {
    /* width: 550px;
    margin: auto;
    */
    margin: 0;
    padding: 0;
}

.copy-a {
    font-size: 1em;
    vertical-align: middle;
}

.tweet-button {
    width: 60px;
    vertical-align: middle;
}

.payload-zone {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

.image-payload {
  max-width:100vw;
  max-height:100vh;
  object-fit: contain;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  filter: contrast(120%) brightness(105%);
}

.transition-video-payload {
  max-width:100vw;
  max-height:100vh;
  object-fit: contain;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 0;
  filter: contrast(120%) brightness(105%);
}

.attribution-wrapper {
    z-index: 2;
   width: 100%;
   position: fixed;
   bottom: 0;
}

.attribution {
   font-size: small;
   color: rgba(0, 0, 0, 0.25);
   z-index: 1;
   text-align: left;
   margin-left: auto;
   width: fit-content;
   background-color: rgba(255, 255, 255, 0.75);
   border-radius: 4px;
   padding: 4px;
}

.attribution-section {
   margin-bottom: 0.2em;
   margin-right: 50px;
}

@media (orientation: portrait) {
    .site-wrapper {
        margin: 0;
    }
    .attribution-wrapper {
        position: absolute;
        bottom: 0;
        padding-top: 1em;
        text-align: left;
        width: fit-content;
        margin: 0 auto;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .image-payload {
        width: 100vw;
        left: 0%;
        top: 40%;
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);
    }

    .transition-video-payload {
        width: 100vw;
        left: 0%;
        top: 40%;
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);
    }
}

@media (orientation: landscape) {
    .image-payload {
        height: 100vh;
    }

    .transition-video-payload {
        height: 100vh;
    }
}