<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>This Fucked Up Homer Does Not Exist</title>

  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{static_cdn_url_base | safe}}/bundle.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- FavIcons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{static_cdn_url_base | safe}}/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{static_cdn_url_base | safe}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{static_cdn_url_base | safe}}/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{static_cdn_url_base | safe}}/favicons/site.webmanifest">
  <link rel="mask-icon" href="{{static_cdn_url_base | safe}}/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{static_cdn_url_base | safe}}/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{{static_cdn_url_base | safe}}/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- OpenGraph -->
  <meta property="og:url" content="{{og_url}}">
  <meta property="og:image" content="{{og_image_url}}">

  <meta property="og:title" content="This Fucked Up Homer Does Not Exist">
  <meta name="og:description" content="A collection of messed up AI drawings of your favorite family.">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@turtlesoupy">
  <meta name="twitter:image" content="{{og_image_url}}">

  <!-- Javascript -->
  <script type="text/javascript">var currentContentItem = {{display_item.json_string | safe}}; var isRootRequest = {{"true" if is_root_request else "false"}}; </script>
  <script async type="text/javascript" src="{{static_cdn_url_base}}/bundle.js"></script>
  <script async type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-85FKC8XB8E"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-85FKC8XB8E');
  </script>
</head>

<body>
    <div class="site-wrapper">
        <div id="payload-zone" class="payload-zone">
          <a href="" id="display-link">
            <img src="{{display_item.url}}" class="image-payload" id="image-payload">
          </a>
          <video 
            playsinline   
            src="{{display_item.transition_url}}" class="transition-video-payload" 
            id="transition-video-payload" 
            muted
          >
        </div>

        <div class="attribution-wrapper">
          <div class="attribution">
              <div class="attribution-section">
                <a href="/" id="next-button" class="next-button">Another One</a>
              </div>
              <div class="attribution-section">
                This Fucked Up Homer Does Not Exist
              </div>
              <div class="attribution-section">
                  Created by <a href="https://www.thomasdimson.com">Thomas Dimson</a> (<a href="https://twitter.com/turtlesoupy">@turtlesoupy</a>)
              </div>

              <div class="attribution-section"> 
                  Based on
                  <a href="https://openreview.net/forum?id=1Fqg133qRaI"> Lightweight GAN </a>
                  from <a href="https://github.com/lucidrains/lightweight-gan">lucidrains</a>
              </div>

              <div class="attribution-section">
                  You can <a href="https://www.buymeacoffee.com/turtlesoupy">buy me a coffee</a>
              </div>
              <div class="attribution-section"> 
                <a id="tweet-a" class="darken" href="https://twitter.com/intent/tweet?url={{og_url|quote_plus}}">
                  <img 
                      class="tweet-button" 
                      srcset="{{static_cdn_url_base| safe}}/tweet_button.png, {{static_cdn_url_base | safe}}/tweet_button@2x.png 2x"
                      src="{{static_cdn_url_base | safe}}/tweet_button@2x.png" 
                      height="19"
                      alt="Tweet Button">
                </a>
                &middot;
                <a id="copy-a" class="copy-a" href="{{og_url}}"> Direct Link </a>
              </div>
          </div>
        </div>
    </div>
</body>
</html>