<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Voxeloo</title>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/bundle.css">
  <script async type="text/javascript" src="/static/bundle.js"></script>
</head>

<body>
  <div id="root"></div>
</body>
</html>