<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>This Fucked Up Homer Does Not Exist</title>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/bundle.css">
  <script type="text/javascript">var currentContentItem = {{display_item.json_string | safe}};</script>
  <script async type="text/javascript" src="/static/bundle.js"></script>
</head>

<body>
    <div class="site-wrapper">
        <div id="payload-zone" class="payload-zone">
          <img src="{{display_item.url}}" class="image-payload" id="image-payload">
          <video 
            playsinline   
            src="{{display_item.transition_url}}" class="transition-video-payload" 
            id="transition-video-payload" style="display: none;"
          >
        </div>

        <div class="attribution">
            <div class="attribution-section">
              <b>This Fucked Up Homer Does Not Exist</b>
            </div>
            <div class="attribution-section">
                Created by <a href="https://www.thomasdimson.com">Thomas Dimson</a> (<a href="https://twitter.com/turtlesoupy">@turtlesoupy</a>)
            </div>

            <div class="attribution-section"> 
                Based on
                <a href="https://openreview.net/forum?id=1Fqg133qRaI"> Lightweight GAN </a>
                from <a href="https://github.com/lucidrains/lightweight-gan">lucidrains</a>
            </div>

            <div class="attribution-section">
                You can <a href="https://www.buymeacoffee.com/turtlesoupy">buy me a coffee</a>
            </div>
            <div class="attribution-section"> 
              <a href="/" id="next-button">Next</a>
              <img 
                  class="tweet-button" 
                  srcset="/static/tweet_button.png, /static/tweet_button@2x.png 2x"
                  src="/static/tweet_button@2x.png" 
                  height="19"
                  alt="Tweet Button">
            </div>
        </div>
    </div>
</body>
</html>